body {
  font-family: 'MedievalSharp';
  font-weight: 600;
  background-color: black;
  color: rgb(125, 125, 125);
}

#sword, #bow, #flank, #assault, #defend, #run, #fight {
  background-color: rgb(50, 50, 50);
}

#sword:hover, #bow:hover, #flank:hover, #assault:hover, #defend:hover, #right:hover, #fight:hover, #run:hover {
  color: rgb(250, 250, 250);
}

img {
  margin: 5%;
}